.login-container {
    background-color: gainsboro;
}

.login-form-container {
    max-width: 400px;
    background-color: dimgrey;
}

.login-heading {
    color: #fff;
}

.validation-message {
    color: #ffc107;
}

.link-text {
    color: #fff;
}

.submit-button {
    background-color: #212529;
    color: #fff;
    border-style: none;
}