.login-container {
    /* background-color: gainsboro; */
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
      background-repeat: no-repeat;
    
        font-family: 'Vibur', cursive;
    /*   the main font */
        font-family: 'Abel', sans-serif;
    opacity: .95;
}

.login-form-container {
    max-width: 400px;
    background-size:cover;
    background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
  opacity: 0.85;
    /* background-color: dimgrey; */
}

.login-heading {
    color: #fff;
}

.validation-message {
    color: #ffc107;
}

.link-text {
    color: #fff;
}

.submit-button {
    background-color: #212529;
    color: #fff;
    border-style: none;
}

 