<app-navbar></app-navbar>
<div class="container mt-5">
  <h3 class="text-center mb-4">All Projects & Tasks</h3>

  <div *ngFor="let project of projects" class="mb-4">
    <h4 class="fw-bold text-secondary"><span class="text-dark">Project Name :-</span> {{ project.title }}</h4> <!-- Display Project Title -->

    <div *ngIf="getTasksForProject(project.id).length > 0; else noTask">
      <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Status</th>
              <th scope="col">Estimate</th>
              <th scope="col">Time Spent</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of getTasksForProject(project.id)">
              <th scope="row">{{ task.taskid }}</th>
              <td class="col-3">{{ task.title }}</td>
              <td class="col-2">{{ task.desc }}</td>
              <td [ngClass]="colorchange(task.created)">{{ task.created }}</td> 
              <td>{{ task.manager }}</td>
              <td>{{ task.time }}</td>

              <td ><button type="button" class="btn btn-success btn-update"  data-bs-toggle="modal" (click)="updateTask(task.taskid,project.id)" data-bs-target="#taskModal">Update</button></td>
              <td> <button class="btn btn-danger btn-delete" (click)="deleteTask(task.taskid)" type="button">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #noTask>
      <p class="text-muted">No tasks found for this project.</p>
    </ng-template>
  </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mt-3">

        <form class="" id="taskForm" #taskForm="ngForm" novalidate>
          <div class="row mb-3">
            <label for="inputtitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input  type="text" class="form-control" id="taskinputtitle" [(ngModel)]="tasktitle" name="tasktitle" #tasktitle1="ngModel" required placeholder="Title" >
                <!-- <span class="text-danger mt-2" *ngIf="tasktitle1.touched || tasktitle1.invalid">*Provide valid data</span> -->
              
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="desc" class="col-sm-2 col-form-label">Assigned to</label>
            <div class="col-sm-10">
              <!-- <textarea class="form-control" id="taskdesc" rows="3" [(ngModel)]="taskdesc" name="taskdesc" #taskdesc1="ngModel" required  placeholder="Assigned to"></textarea> -->
              <input  type="text" class="form-control" id="taskdesc" [(ngModel)]="taskdesc" name="taskdesc" #taskAssign="ngModel" required placeholder="Assigned To" >
                <!-- <span class="text-danger mt-2" *ngIf="taskAssign.touched || taskAssign.invalid">*Provide valid data</span> -->

            </div>
          </div>

          <div class="row mb-3">
            <label for="inputpriority" class="col-sm-2 col-form-label required">status</label>
            <div class="col-sm-10">
              <div class="col-sm-10">
                <select class="form-select" id="taskinputpriority"  [(ngModel)]="taskcreated" name="taskcreated" #taskcreated1="ngModel" required aria-label="Default select example">
                  <option selected>Select option</option>
                  <option value="Completed">Completed</option>
                  <option value="Pending">Pending</option>
                  <option value="Pending">In Progress</option>
                </select>
                <!-- <span class="text-danger mt-2" *ngIf="taskcreated1.touched || taskcreated1.invalid">*Provide valid data</span> -->

              </div>
            </div>
            </div>

          <div class="row mb-3">
            <label for="inputmanager" class="col-sm-2 col-form-label required">Estimate</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="taskinputmanager" [(ngModel)]="taskmanager" name="taskmanager" #taskmanager1="ngModel" required placeholder="Estimate">
                <!-- <span class="text-danger mt-2" *ngIf="taskmanager1.touched || taskmanager1.invalid">*Provide valid data</span> -->

            </div>
          </div>

          <div class="row mb-3">
            <label for="inputtime" class="col-sm-2 col-form-label required">Time Spent</label>
            <div class="col-sm-10">
              <input type="time" class="form-control" id="taskinputtime" [(ngModel)]="tasktime" name="tasktime" #tasktime1="ngModel" required placeholder="Project Manager">
                <!-- <span class="text-danger mt-2" *ngIf="tasktime1.touched || tasktime1.invalid">*Provide valid data</span> -->

            </div>
          </div>

        <div class="modal-footer mt-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary " (click)="updateSubmit()" [disabled]=taskForm.invalid data-bs-dismiss="modal">Submit</button>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>
