<app-navbar></app-navbar>
<div class="container mt-5">
  <h3 class="text-center mb-4">All Projects & Tasks</h3>

  <div *ngFor="let project of projects" class="mb-4">
    <h4 class="fw-bold">{{ project.title }}</h4> <!-- Display Project Title -->

    <div *ngIf="getTasksForProject(project.id).length > 0; else noTask">
      <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Status</th>
              <th scope="col">Estimate</th>
              <th scope="col">Time Spent</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of getTasksForProject(project.id)">
              <th scope="row">{{ task.taskid }}</th>
              <td class="text-truncate" style="max-width: 200px;">{{ task.title }}</td>
              <td class="text-truncate" style="max-width: 150px;">{{ task.desc }}</td>
              <td>{{ task.created }}</td>
              <td>{{ task.manager }}</td>
              <td>{{ task.time }}</td>

              <td ><button type="button" class="btn btn-success btn-update"  data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button></td>
              <td> <button class="btn btn-danger btn-delete  " type="button">Delete</button></td>
              

            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #noTask>
      <p class="text-muted">No tasks found for this project.</p>
    </ng-template>
  </div>
</div>
