.signup-container {
    /* background-color: dimgrey; */
    background: -webkit-linear-gradient(#8CA6DB, #B993D6);
    background: linear-gradient(#8CA6DB, #B993D6);  
    }
    


.signup-form-container {
    max-width: 400px;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
      background-repeat: no-repeat;
    
        font-family: 'Vibur', cursive;
    /*   the main font */
        font-family: 'Abel', sans-serif;
    opacity: .95;
    /* background-color: gainsboro; */
}

.signup-heading {
    color: #333;
}

.validation-message {
    color: #dc3545;
}

.link-text {
    color: #212529;
}

.submit-button {
    background-color: #212529;
    color: #fff;
}