<app-navbar></app-navbar>
<div class="container-fluid mt-3">
  <h3 class="data-item" >All Project</h3>
  <div class="col-12 d-flex">
    <div class="col-3 me-6">
      <form class="d-flex" (ngSubmit)="onSearch($event)" role="search">
        <input class="form-control me-2 flex-grow-1"
          type="search"
          placeholder="Search by Title"
          aria-label="Search"
          [(ngModel)]="searchText"
          name="searchText">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  <div class="col-8 ms-2  d-flex"> 
      <div class="col-4 me-2 d-flex justify-content-start align-items-center">
        <label for="sortField" class="form-label col-2">Sort By:</label>
        <select class="form-select ms-1" [(ngModel)]="sortField" name="sortField">
          <option value="title">Title</option>
          <option value="startdate">Start Date</option>
          <option value="enddate">End Date</option>
        </select>
      </div>
      <div class="col-4 me-2 d-flex justify-content-start align-items-center">
        <label for="sortOrder" class="form-label col-2">Order:</label>
        <select class="form-select " [(ngModel)]="sortOrder" name="sortOrder">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
    </div>
  </div>
  <div class="p-2" id="liveAlertPlaceholderr"> </div>

  <div class="table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">createdBy</th>
            <th scope="col">Project Manager</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Team Members</th>
            <th scope="col">Due Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Add Task</th>
            <th scope="col">View Task</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <!-- <tbody class="showdata ">
          <tr *ngFor="let task of taskdata"> -->
            <tbody class="showdata">
              <tr *ngFor="let task of taskdata | sortData: sortField : sortOrder | filterProjects:searchText ; let i = index"     draggable="true"
              (dragstart)="dragStart(i)"
              (dragover)="allowDrop($event)"
              (drop)="drop(i)">
            
            <th scope="row" class="data-item">{{task.id}}</th> 
            <td class="data-item">{{task.title}}</td>
            <td class="data-item">{{task.desc}}</td>
            <td class="data-item">{{task.created}}</td>
            <td class="data-item">{{task.manager}}</td>
            <td class="data-item">{{task.startdate}}</td>
            <td class="data-item">{{task.enddate}}</td>
            <td class="data-item">{{task.team}}</td>
            <td class="data-item">{{task.duedate}}</td>
            
            <td ><button type="button" class="btn btn-success btn-update"  (click)="fillUpdateForm(task.id)" data-bs-toggle="modal" data-updateid=${task.task_id} data-bs-target="#exampleModal">Update</button></td>

            <td ><button type="button" class="btn btn-success btn-update"  data-bs-toggle="modal" data-updateid=${task.task_id} data-bs-target="#taskModal" (click)="addtask(task.id)">Add Task</button></td>

            <td ><button type="button" class="btn btn-success btn-update"  (click)="viewtask(task.id)">View Task</button></td>

            <td> <button class="btn btn-danger btn-delete  " data-deleteid=${task.task_id} (click)="deleteTask(task.id)" type="button">Delete</button></td>
            </tr> 
      </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Project</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3">
  
          <form class="" id="taskForm" #projectForm="ngForm" novalidate>
            <div class="row mb-3">
              <label for="inputtitle" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input  type="text" class="form-control" id="inputtitle" [(ngModel)]="title" name="title" #title1="ngModel" required placeholder="Title" >
                <!-- <span class="text-danger mt-2" *ngIf="title1.touched || title1.invalid">*Provide valid data</span> -->

                
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="desc" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="desc" rows="3" [(ngModel)]="desc" name="desc" #desc1="ngModel" required  placeholder="Description"></textarea>
                <!-- <span class="text-danger mt-2" *ngIf="desc1.touched || desc1.invalid">*Provide valid data</span> -->

              </div>
            </div>
  
            <div class="row mb-3">
              <label for="inputtaskname" class="col-sm-2 col-form-label required">Created By</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputtaskname" [(ngModel)]="created" name="created" #created1="ngModel" required placeholder="Created by">
                <!-- <span class="text-danger mt-2" *ngIf="created1.touched || created1.invalid">*Provide valid data</span> -->

              </div>
            </div>
  
            <div class="row mb-3">
              <label for="project" class="col-sm-2 col-form-label required">Project Manager</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="project" [(ngModel)]="manager" name="manager" #manager1="ngModel" required placeholder="Project Manager">
                <!-- <span class="text-danger mt-2" *ngIf="manager1.touched || manager1.invalid">*Provide valid data</span> -->

              </div>
            </div>
            
            <div class="row mb-3">
              <label for="startdate" class="col-sm-2 col-form-label">Start Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="startdate" [(ngModel)]="startdate" name="startdate" #startdate1="ngModel" required>
                <!-- <span class="text-danger mt-2" *ngIf="startdate1.touched || startdate1.invalid">*Provide valid data</span> -->

              </div>
            </div>
            
            <div class="row mb-3">
              <label for="enddate" class="col-sm-2 col-form-label">End Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="enddate" [(ngModel)]="enddate" name="enddate" #enddate1="ngModel" required>
                <!-- <span class="text-danger mt-2" *ngIf="enddate1.touched || enddate1.invalid">*Provide valid data</span> -->

              </div>
            </div>
            
            <div class="row mb-3">
              <label for="team" class="col-sm-2 col-form-label required">Team Members</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="team" [(ngModel)]="team" name="team" #team1="ngModel" required placeholder="Team Members">
                <!-- <span class="text-danger mt-2" *ngIf="team1.touched || team1.invalid">*Provide valid data</span> -->

              </div>
            </div>
  
            <div class="row mb-3">
              <label for="duedate" class="col-sm-2 col-form-label" >Due Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="duedate" [(ngModel)]="duedate" name="duedate" #duedate1="ngModel" required>
                <!-- <span class="text-danger mt-2" *ngIf="duedate1.touched || duedate1.invalid">*Provide valid data</span> -->

              </div>
            </div>
  
          <div class="modal-footer mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary  sub " (click)="AddUpdate()" data-bs-dismiss="modal" [disabled]=projectForm.invalid >Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Project</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3">
  
          <form class="" id="taskForm" #taskForm="ngForm" (ngSubmit)="onSubmit($event,taskForm)" novalidate>
            <div class="row mb-3">
              <label for="inputtitle" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input  type="text" class="form-control" id="taskinputtitle" [(ngModel)]="tasktitle" name="tasktitle" #tasktitle1="ngModel" required placeholder="Title" >
              <span class="text-danger mt-1" *ngIf="tasktitle1.invalid && tasktitle1.touched">*Provide Valid Input</span>
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="desc" class="col-sm-2 col-form-label ">Assigned to</label>
              <div class="col-sm-10">
                <input  type="text" class="form-control" id="taskdesc" [(ngModel)]="taskdesc" name="taskdesc" #taskAssign="ngModel" required placeholder="Assigned To" >
              <span class="text-danger mt-1" *ngIf="taskAssign.invalid && taskAssign.touched">*Provide Valid Input</span>

              </div>
            </div>
  
            <div class="row mb-3">
              <label for="inputpriority" class="col-sm-2 col-form-label required">status</label>
              <div class="col-sm-10">
                <div class="col-sm-10">
                  <select class="form-select" id="taskinputpriority"  [(ngModel)]="taskcreated" name="taskcreated" #taskcreated1="ngModel" required aria-label="Default select example">
                    <option selected>Select option</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                  </select>
              <span class="text-danger mt-1" *ngIf="taskcreated1.invalid && taskcreated1.touched">*Provide Valid Input</span>

                </div>
              </div>
              </div>
  
            <div class="row mb-3">
              <label for="team" class="col-sm-2 col-form-label required">Estimate</label>
              <div class="col-sm-10">
                <input type="time" class="form-control" id="team" [(ngModel)]="taskmanager" name="taskmanager" #taskmanager1="ngModel" required placeholder="Estimate">
              <span class="text-danger mt-1" *ngIf="taskmanager1.invalid && taskmanager1.touched">*Provide Valid Input</span>

              </div>
            </div>

            <div class="row mb-3">
              <label for="inputtime" class="col-sm-2 col-form-label required">Time Spent</label>
              <div class="col-sm-10">
                <input type="time" class="form-control" id="taskinputtime" [(ngModel)]="tasktime" name="tasktime" #tasktime1="ngModel" required placeholder="Project Manager">
              <span class="text-danger mt-1" *ngIf="tasktime1.invalid && tasktime1.touched">*Provide Valid Input</span>
              </div>
            </div>
  
          <div class="modal-footer mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary  " [disabled]=taskForm.invalid data-bs-dismiss="modal" >Submit</button>
          </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
