@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #543f3f33;}

.toastr-username {
  color: #080808;
}

.toast-success
{
  background-color: rgba(88, 104, 67, 0.993);
  box-shadow: none;
  color: white;
}

.toast-error
{
  background-color: rgb(175, 65, 65);
  color: white;
}
#toast-container {
  top: 10px !important; /* or whatever value you want */
}